.navbar .nav-link {
  color: #ddd;
  transition: color 0.2s;
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #f1c40f; /* yellow highlight */
}

.navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 1px;
}
.navbar .nav-link.active {
  border-bottom: 2px solid #f1c40f;
}

